* {
    margin:0;
}

.parallax-1 {
    background-attachment: fixed;
    background-position: top -215px center;
    background-repeat: no-repeat;
    background-size: 1239px 1330px
}

.parallax-1 {
    background-image: url("Assignment_3/image3.png");
    min-height: 702px;
    padding: 67px;
}
.parallax-2{
    
    background-attachment: fixed;
    background-size: 1079px 1030px;
    background-repeat: no-repeat;
    background-position: top 25px center;
    background-image: url("Assignment_3/image2.png");
    min-height: 550px;
    padding: 67px;
}

.top {
    background-color: white;
    position: fixed;
    font-family: Sans-Serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    z-index: 1000;
}

#MAIN_EVENTS {
    font-size: 16;
    color: #af9453;
    padding: 0px 50px;
}

.menu {
    font-size: 15;
    color: black;
    text-decoration: none;
    padding: 0px 10px;
    margin-right: 20px;
}

.menu li {
    display: inline-block;
    padding: 0px 0px;
}

#home {
    color: #af9453;
}

.top-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 228px;
    top: 75px;
}

.top-center_word{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 0.315em;
    font-size: 300%;
    padding: 4px;
    
}

.left-flower {
    display: flex;
    position: relative;
    padding: 70px 50px;
}

#two_guy_right{
    padding: 0px 50px
}

.bold_title{
    font-family: sans-serif;
    font-size:210%;
    color: white;
    letter-spacing: 00.315em;
}

#service {
    position:absolute;
    left:142px;
    top: 190px;
}

.small_sentence{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:120%;
    letter-spacing: 00.15em;
    font-weight: 500;
    color: white;
}
.service_sentence1{
    position:absolute;
    left:130px;
    top: 345px;
}

.service_sentence2{
    font-size:120%;
    position:absolute;
    left:215px;
    top: 385px;
    /* letter-spacing: 00.15em; */
    color: white;
}

.box_word{
    font-size: 100%;
    font-family: sans-serif;
    border: solid 2px white;
    
    color:white
}

#flower_box{
    position:absolute;
    left:115px;
    top: 490px;
    padding: 10px 100px;
    font-weight: 520;
}
.center_word{
    position: relative;
    text-align: center;
    padding-top: 220px;
}

.quotation_mark_word{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 210%;
    padding: 6px;
}

.center_word::before{
    content: "\2190";
    position: absolute;
    font-size: 300%;
    top: 260px;
    left:55px;
    color: #af9453;
}

.center_word::after{
    content: "\2192";
    position: absolute;
    font-size: 300%;
    top: 260px;
    right:65px;
    color: #af9453;
}

blockquote{
    position: relative;
}

blockquote:before { 
    position:absolute;
    content: "\201d";
    color:black;
    font-size: 580%;
    top: -95px;
    left: 595px;
    font-family:'Times New Roman', Times, serif;
}

.name{
    color:#af9453;
    text-align: center;
    font-family: sans-serif;
    font-style: bolder;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 100px;
}

.right-flower{
    position: absolute;
    top: 2050px;
    padding-top: 70px;
    padding-left: 700px;
    padding-bottom: 200px;
}

#Gallery{
    position:absolute;
    right:70px;
    top:190px;
    letter-spacing: 0.5em;
}

#memory{
    position: absolute;
    top: 350px;
    text-align: center;
    right: 85px;
    font-size: 130%;
    padding: 0px;
    line-height: 200%;
    letter-spacing: 0.4em;
}

#right_box{
    position: absolute;
    top: 480px;
    right: 105px;
    padding: 10px 55px;
    font-weight: 550;
}
.white_space{
    padding: 50px;
}
.bottom{
    background-color: #af9453;
    display: flex;
    padding: 70px 30px;
    padding-bottom: 60px;
}
.row{
    color: white;
    padding-left:120px;
    padding-right: 50px;
    font-size: 100%;
    font-family: sans-serif;
    font-weight: 680%;
    font-style: bolder;
}

.row:after{
    content:"";
    display:table;
    clear:both;

}
.column{
    float:left;
    width:200px;
    font-style: bolder;
    font-weight: 500;
}

#column1::after{
    content: "";
    background-color:white;
    position: absolute;
    width: 1px;
    height: 65px;
    top: 2950px;
    left: 330px;
    display: block;
}

#column2::after{
    content: "";
    background-color:white;
    position: absolute;
    width: 1px;
    height: 65px;
    top: 2950px;
    left: 530px;
    display: block;
}

#column3{
    width:300px
}

#bottom_box{
    position:absolute;
    font-size: 100%;
    font-family: sans-serif;
    border: solid 2px white;
    color:white;
    top: 2970px;
    right: 170px;
    padding: 10px 10px;
}

.subpage_words{
    font-size: 200%;
    font-weight: 550;
    margin: 10px;
    line-height: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}